<div class="annotate-panel hide-remove" id="annotate-panel">
    <div class="button-container">
    <div class="button highlightSelectedText">
        <img src="//github-rangy-highlighter-cookie.pulipuli.info/view/highlight.png" />
        <br />
        標亮
    </div>
    </div>
    <div class="button-container remove">
    <div class="button removeHighlightFromSelectedText">
        <img src="//github-rangy-highlighter-cookie.pulipuli.info/view/inhibit.png" />
        <br />
        刪除
    </div>
    </div>
</div>